PrimarySample/Library/
PrimarySample/Temp/
*.csproj
*.sln
PrimarySample/obj/
PrimarySample/.idea/
Basic AssetReference/.idea/
Basic AssetReference/Library/
Basic AssetReference/Temp/
Basic AssetReference/obj/
Basic AssetReference/builds/
Basic AssetReference/ServerData/
Scene Loading/.idea/
Scene Loading/Library/
Scene Loading/Temp/
Scene Loading/obj/
Scene Loading/builds/
Scene Loading/ServerData/
Sprite Land/.idea/
Sprite Land/Library/
Sprite Land/Temp/
Sprite Land/obj/
Sprite Land/builds/
Sprite Land/ServerData/
FBX Animations/.idea/
FBX Animations/Library/
FBX Animations/Temp/
FBX Animations/obj/
FBX Animations/builds/
FBX Animations/ServerData/
Sprite Land/Assets/Plugins/Editor.meta
